<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <div class="container-header">
            <p>Black & White</p>
            <ul>
                <li>Home</li>
                <li>About</li>
                <li>Vacancies</li>
                <li>Shop</li>
            </ul>
        </div>

        <div class="container-header-button">
            <div class="up-cont">
                <p>Black <span>&</span> White</p>
                <h5>An original Brand Since 1965</h5>
            </div>
            <button>Show more</button>
        </div>
    </header>

    <main>
        <div class="first-column">
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Obcaecati, deleniti, praesentium neque cupiditate consequatur culpa dolores commodi ipsam odit est ab non optio et ullam repudiandae eius similique corrupti sit.</p>
            <p>Minima minus fuga magnam est. Nemo ex explicabo obcaecati labore impedit qui doloribus nam sapiente! Quasi eaque consequuntur accusantium. Nesciunt perferendis repellat enim reprehenderit beatae nihil possimus? Doloremque, rerum voluptate.</p>
        </div>

        <div class="wrapper-content">
            <div class="main-content">
                <h3>Read some of our featured articles</h3>
                <div class="item-container">
                    <div class="item-main">
                        <p class="likes">174 ♡</p>
                        <p class="date">JAN 19 South France</p>
                    </div>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                        Cum, id magni, soluta ipsam tempora praesentium harum autem placeat maiores ut temporibus,
                        optio eum sed ad doloremque maxime aspernatur reprehenderit dolor.
                    </p>
                </div>

                <div class="item-container">
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                        Cum, id magni, soluta ipsam tempora praesentium harum autem placeat maiores ut temporibus,
                        optio eum sed ad doloremque maxime aspernatur reprehenderit dolor.
                    </p>
                    <div class="item-main">
                        <p class="likes">174 ♡</p>
                        <p class="date">JAN 19 South France</p>
                    </div>
                </div>

                <div class="item-container">
                    <div class="item-main">
                        <p class="likes">174 ♡</p>
                        <p class="date">JAN 19 South France</p>
                    </div>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                        Cum, id magni, soluta ipsam tempora praesentium harum autem placeat maiores ut temporibus,
                        optio eum sed ad doloremque maxime aspernatur reprehenderit dolor.
                    </p>
                </div>

                <div class="item-container">
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                        Cum, id magni, soluta ipsam tempora praesentium harum autem placeat maiores ut temporibus,
                        optio eum sed ad doloremque maxime aspernatur reprehenderit dolor.
                    </p>
                    <div class="item-main">
                        <p class="likes">174 ♡</p>
                        <p class="date">JAN 19 South France</p>
                    </div>
                </div>
            </div>

            <div class="container-letter">
                <p>Subscribe to our <b> Newsletter</b></p>
                <div class="input-container">
                    <input type="email" placeholder="Enter your email">
                    <button>Subscribe</button>
                </div>
            </div>
        </div>
    </main>

    <footer>
        <div class="item-footer">
            <div class="title">
                <h5>Black & White</h5>
            </div>
            <div class="info">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                Eos, neque ea? Atque maxime suscipit repellendus cupiditate sed rerum et,
                minus voluptate neque facere culpa obcaecati, quas, quos dolores veniam esse?
            </div>
        </div>
        <div class="item-footer">
            <div class="title">
                <h5>Last tweet</h5>
            </div>
            <div class="info">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                Eos, neque ea? Atque maxime suscipit repellendus cupiditate sed rerum et,
                minus voluptate neque facere culpa obcaecati, quas, quos dolores veniam esse?
            </div>
        </div>
        <div class="item-footer">
            <div class="title">
                <h5>Contact</h5>
            </div>
            <div class="info">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                Eos, neque ea? Atque maxime suscipit repellendus cupiditate sed rerum et,
                minus voluptate neque facere culpa obcaecati, quas, quos dolores veniam esse?
            </div>
        </div>
        <div class="item-footer">
            <div class="title">
                <h5>Newsletter</h5>
            </div>
            <div class="info">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit.
            </div>
            <div class="input-container">
                <input type="email" placeholder="Enter your email">
                <button>Subscribe</button>
            </div>
        </div>
    </footer>
<hr>
    <div class="footer-title">
        <p>c 2015 Ruben Stom</p>
        <ul>
            <li>Home</li>
            <li>About</li>
            <li>Shop</li>
            <li>Vacancies</li>
        </ul>
    </div>
</body>
</html>